csc:
    workerConfigurationFile: /home/lukas/dev/customers/3key/SignServer-CSC-API/src/main/resources/workers.yml
    numberOfPreloadedKeys: 10

idp:
    baseUrl: https://kcac.czertainly.online/realms/IDnow
    jwksUri: https://kcac.czertainly.online/realms/IDnow/protocol/openid-connect/certs
    userInfoUrl: https://kcac.czertainly.online/realms/IDnow/protocol/openid-connect/userinfo?schema=openid
    issuer: https://kcac.czertainly.online/realms/IDnow
    audience: cscapi
    clockSkewSeconds: 5

signingProvider:
    signserver:
        url: https://signserver.3key.company/signserver
        authorization:
            type: CERTIFICATE  # BASIC OR CERTIFICATE; when using CERTIFICATE, the certificate from the clientKeyStore will be used
            basic: # Only used when authorization type is BASIC
                username: admin
                password: admin

        clientKeyStore:
            storePath: /home/lukas/dev/customers/3key/lukas.najman.p12
            password: lukas.najman # The same password is used for keystore and private key

caProvider:
    ejbca:
        url: https://ejbca.3key.company/ejbca
        clientKeyStore:
            storePath: /home/lukas/dev/customers/3key/lukas.najman.p12
            password: lukas.najman
        usernamePattern: $[name]
        dnPattern: CN=$[name], UID=$[id]
        sanPattern: None
        ca: DemoClientSubCA_2307RSA
        endEntityProfile: DemoDocumentSigningEndEntityProfile
        certificateProfile: DemoDocumentSigningEECertificateProfile

spring:
    jackson:
        default-property-inclusion: NON_NULL

logging:
    level:
        com.czertainly.signserver: DEBUG
        org.springframework.security: DEBUG
